---
layout: default
---
    <!-- Main -->
    <section class="main text-center parallax-window" id="home" data-parallax="scroll" data-image-src="./assets/img/home.jpg">
      <div class="page">
        <div class="wrapper">
          <div class="container">
            <div class="indachain">
              <span>
                In Da Chain
                <div>Foundation</div>
              </span>
            </div>
            <h2 class="heading">coming soon</h2>
            <p>
              The Blockchain Science group
            </p>
            <div class="row">
              <div id="countdown"></div>
            </div>
            <!-- Subscription form -->
            <form action="http://foundation.us16.list-manage.com/subscribe/post?u=e32a9debf77b2840744fdcfa6&amp;id=05ea69a6ae" method="post" id="mc-embedded-subscribe-form" role="form" id="signupForm" name="mc-embedded-subscribe-form" class="form-inline signup" target="_blank" novalidate>
              <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_e32a9debf77b2840744fdcfa6_05ea69a6ae" tabindex="-1" value=""></div>
              <div class="form-group">
                <input type="email" value="" name="EMAIL" class="form-control" placeholder="Email address" required>
              </div>
              <div class="form-group">
                <button type="submit" class="btn btn-theme ladda-button" data-style="expand-left"><span class="ladda-label">Get notified!</span></button>
              </div>
            </form>
            <footer class="text-center">
              <div class="social">
                <a href="#" class="btn btn-theme"><i class="fa fa-facebook"></i></a>
                <a href="#" class="btn btn-theme"><i class="fa fa-twitter"></i></a>
                <a href="#" class="btn btn-theme"><i class="fa fa-google-plus"></i></a>
                <a href="#" class="btn btn-theme"><i class="fa fa-dribbble"></i></a>
                <a href="#" class="btn btn-theme"><i class="fa fa-linkedin"></i></a>
              </div>
            </footer>
          </div>
          <div class="arrow-down">
            <a class="scroll" href="#about" id="scroll"><i class="fa fa-angle-double-down"></i></a>
          </div>
        </div>
      </div>
    </section>
    {{ content }}
